In [1]:
import pandas as pd
pd.__version__

'2.2.1'

In [2]:
df = pd.read_csv('laptops.csv')
print(f'Records num = {df.shape[0]}')

Records num = 2160

In [3]:
df.columns

Index(['Laptop', 'Status', 'Brand', 'Model', 'CPU', 'RAM', 'Storage',
       'Storage type', 'GPU', 'Screen', 'Touch', 'Final Price'],
      dtype='object')

In [19]:
df['Brand'].nunique()

27

In [16]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [17]:
df['Final Price'].max()

7150.47

In [18]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
RAM,2160.0,15.413889,9.867815,4.00,8.0000,16.000,16.00,128.00
Storage,2160.0,596.294444,361.220506,0.00,256.0000,512.000,1000.00,4000.00
Screen,2156.0,15.168112,1.203329,10.10,14.0000,15.600,15.60,18.00
Final Price,2160.0,1312.638509,911.475417,201.05,661.0825,1031.945,1708.97,7150.47